.spacing-fill {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}

.small-spacing-fill {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.xs-spacing-fill {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}


.img-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  height: 50%;
  width: auto;
}

.flex-center, .flex-md-right, .flex-md-left {
  justify-content: center;
}

.md-text-left, .md-text-right {
  max-width: 350px;
  text-align: left;
}

.text-left {
  float: right;
}

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {
    .flex-md-right {
      justify-content: flex-end;
    }

    .flex-md-left {
      justify-content: flex-start;
    }

    .md-text-left, .md-text-right {
      max-width: 350px;
      text-align: left;
    }

    .md-section-top-margin {
      margin-top: 50px;
      letter-spacing: 0.5px;
    }

    .img-container img {
      height: 70%;
      width: auto;
    }
}
