html, body {
  height:100%;
  margin: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*font styling*/
h1, h2, h3, h4 {
  margin: 0px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: black;
  text-align: left;
}

#subheading {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: black;
  text-align: left;
  text-align:center;
}

h1 { font-size: 2.5rem; }
#subheading { font-size: 2.5rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.5rem; }

.spaced-letters {
  letter-spacing: 1px;
}

.center-text {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.title-top-margin {
  margin-top: 70px;
  letter-spacing: 1px;
}

.section-top-margin {
  margin-top: 50px;
  letter-spacing: 1px;
}

.regular-top-margin {
  margin-top: 30px;
}

.small-top-margin {
  margin-top: 15px;
}

/*widths*/
.max-width-900 {
  max-width: 900px;
}

.max-width-800 {
  max-width: 800px;
}

/*fills*/

.fill {
  height:100%;
  width: 100%;
}

.fill-width, .md-fill-width-90-percent {
  width: 100%;
  height: auto;
}

.fill-height {
  height: 100%;
  width: auto;
}

.fill-width-70-percent {
  width: 70%;
  height:auto;
  margin-left: 15%;
  margin-right: 15%;
}

.fill-width-50-percent {
  width: 50%;
  height:auto;
  margin-left: 25%;
  margin-right: 25%;
}

.verticle-responsive {
  max-height: 600px;
  width: auto;
  margin: auto;
}

/*positions */

.flex-xy-center {
  justify-content: center;
  align-items: center;
}

/*navigation*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282828;
  height: 120px;
}

nav h1 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
  color: white;
}

nav h2 {
  font-size: 1.8rem;
  color: white;
}

nav li {
  font-family: "Helvetica Neue", sans-serif;
  display: inline;
  text-decoration: none;
  font-size: 2.5rem;
}

#work {
  padding-right: 10rem;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

a.active {
    border-bottom: 2px solid #448AFF;
}

.title {
  padding-left:8%;
}

.navigation {
  padding-right: 15%;
}

/*jumbotron*/

.spotlight-background {
  display: inline-block;
  height: 500px;
  width: 100%;
  background-color: #EAEAEA;
}

.spotlight {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  position: relative;
  padding: 0px;
  margin: auto;
  text-align: center;
  background: #EAEAEA;
}

.spotlight-bottom-border {
  height: 3px;
  width: 100%;
  background-color: #282828;
}

.hero-panel, .page-indicator, .left-arrow, .right-arrow {
  display: inline-block;
}

.left-arrow, .right-arrow {
  width: 10%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
}

.left-arrow {
  float: left;
}

.right-arrow {
  float: right;
}

.arrow-icon img {
  height:50px;
  width: 50px;
}

.hero-panel {
  margin: auto;
  width: 80%;
  height: 100%;
  background-color: #EAEAEA;
}

.overview {
  width: 100%;
  height: 80%;
  display: flex;
  background-color: #EAEAEA;
}

.overview-container {
  width:90%;
  max-width:900px;
  height: 90%;
  margin: auto;
  vertical-align: bottom;
  display: flex;
  align-items: center;
  /*background-color: black;*/
}

.overview-image {
  height: 80%;
  width: 43%;
  margin-left: 2%;
  display:flex;
  }

.overview-content {
  height: 70%;
  width: 45%;
  margin-left: 5%;
  /*background-color: purple;*/
}

.overview-content h2 {
  margin-top: 30px;
}

.page-indicator {
  width: 100%;
  height: 20%;
  display: flex;
  background-color: #EAEAEA;
}

.indicator {
  width: 100%;
  height: 45%;
  margin: auto;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
}

#circle-container {
  height:100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#circle-container div {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

#circle-container #active {
  border-radius: 50%;
  height: 70%;
  width: 70%;
  background-color: #282828;
}

/*tools*/
.tools, .content-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  background-color: white;
}

.tools {
  height: 200px;
}

#tools-title{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*background-color: green;*/
}

#tools-list {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  /*background-color: blue;*/
}

.tools-item {
  height: 100%;
  width:20%;
  display: flex;
  flex-direction: column;
  /*background-color: black;*/
}

.tools-item div {
  height:50%;
  width:50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color:yellow;*/
}

.tools-item img {
  width: 80%;
  height: 80%;
}

.tools-item div:nth-child(2) {
  width:100%;
  /*background-color:red;*/
}

/*content*/

.content-container {
  margin-top: 25px;
}

.content {
  width:100%;
  height: 100%;
  margin: auto;
  /*border: solid 1px black;*/
}

.content h1 {
  padding:7px;
  color:#282828;
  background-color: #EAEAEA;
  border: 3px solid #282828;
}

.content a {
  color: #0000EE;
}

/*button*/
.button-container {
  width: 100%;
  height: 200px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container div {
  height:50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#button {
  font-size: 1.8rem;
  margin-right: 3%;
  color:white;
  background-color: #282828;
  padding: 15px;
}

/*this-website*/

.custom-section {
  height: 500px;
  width: 100%;
  /*background-color: black;*/
}

.sitemap {
  height: 50%;
  width: 60%;
  float: left;
  display: inline-block;
  text-align: center;
  /*background-color: red;*/
}

.sitemap img {
  padding-top: 40px;
}

.improvements {
  height:100%;
  width: 35%;
  float:right;
  display: inline-block;
  /*background-color: green;*/
}

.medium-section {
  height:200px;
  width: 100%;
  background-color: black;
}

/*See*/

.drawing-fill {
  height: 400px;
  width: 100%;
  background-color: #FAFAF8;
  border: solid black 1px;
  display: flex;
  align-items: center;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .tools {
    border: 1px black solid;
  }

  .tools, .content-container {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto 0px;
    background-color: white;
    /*border: 1px black solid;*/
  }

  .verticle-responsive {
    max-height: 400px;
    width: auto;
    margin: auto;
  }

  .md-title-top-margin {
    margin-top: 70px;
    letter-spacing: 0.5px;
  }

  .md-fill-width-90-percent {
    width: 90%;
    height:auto;
    margin-left: 5%;
    margin-right: 5%;
  }
}
